{#
/**
 * @file
 * Password reset page shell (matches login / register).
 */
#}
<div class="niftyoption-auth-container">
  <div class="login-box rounded-2 p-4 p-md-5">
    <div class="login-form">
      {% include directory ~ '/templates/includes/brand-logo.html.twig' with {
        modifier: 'login-logo mb-3',
        logo_size: 'auth',
        link_url: front_page,
      } %}

      {% if page.highlighted %}
        {{ page.highlighted }}
      {% endif %}

      <h5 class="fw-light mb-5">{{ 'Reset your password.'|t }}</h5>

      <div id="main-content">
        {{ page.content }}
      </div>

      <div class="text-center pt-3">
        <span>{{ 'Remember your password?'|t }}</span>
        <a href="{{ path('user.login') }}" class="niftyoption-auth-link fw-bold ms-2">
          {{ 'Sign in'|t }}
        </a>
      </div>

      <div class="text-center pt-3">
        <span>{{ 'Not registered?'|t }}</span>
        <a href="{{ path('niftybot_user.register') }}" class="niftyoption-auth-link fw-bold ms-2">
          {{ 'Create an account'|t }}
        </a>
      </div>
    </div>
  </div>
</div>
